@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-weight: 100 900;
  src: url("/fonts/DMSans.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-weight: 100 900;
  src: url("/fonts/WorkSans.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  .dm-sans {
    font-family: "DM Sans", system-ui, sans-serif;
  }
}

@layer base {
  body {
    font-family: "Work Sans", system-ui, sans-serif;
  }
}

@layer components {
  .card {
    @apply relative z-10 flex h-full flex-col border-dashed border-slate-300 p-4 before:absolute before:inset-0 before:-z-[1] before:bg-gradient-to-b before:via-80% before:opacity-0 before:hover:from-transparent before:hover:via-transparent before:hover:to-teal-500/20 before:hover:opacity-100 focus:outline-none before:focus:from-transparent before:focus:via-transparent before:focus:to-teal-500/20 before:focus:opacity-100 md:p-6;
  }
}